WebServices/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrentDayRevenue">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentDayRevenueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentDayRevenueResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRevenueByPeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRevenueByPeriodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRevenueByPeriodResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBestSellingProduct">
        <s:complexType />
      </s:element>
      <s:element name="GetBestSellingProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBestSellingProductResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopFiveClients">
        <s:complexType />
      </s:element>
      <s:element name="GetTopFiveClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopFiveClientsResult" type="tns:ArrayOfTopClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTopClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TopClient" nillable="true" type="tns:TopClient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TopClient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="adress" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentDayRevenueSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentDayRevenue" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDayRevenueSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentDayRevenueResponse" />
  </wsdl:message>
  <wsdl:message name="GetRevenueByPeriodSoapIn">
    <wsdl:part name="parameters" element="tns:GetRevenueByPeriod" />
  </wsdl:message>
  <wsdl:message name="GetRevenueByPeriodSoapOut">
    <wsdl:part name="parameters" element="tns:GetRevenueByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="GetBestSellingProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetBestSellingProduct" />
  </wsdl:message>
  <wsdl:message name="GetBestSellingProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetBestSellingProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopFiveClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopFiveClients" />
  </wsdl:message>
  <wsdl:message name="GetTopFiveClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopFiveClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetCurrentDayRevenue">
      <wsdl:input message="tns:GetCurrentDayRevenueSoapIn" />
      <wsdl:output message="tns:GetCurrentDayRevenueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRevenueByPeriod">
      <wsdl:input message="tns:GetRevenueByPeriodSoapIn" />
      <wsdl:output message="tns:GetRevenueByPeriodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBestSellingProduct">
      <wsdl:input message="tns:GetBestSellingProductSoapIn" />
      <wsdl:output message="tns:GetBestSellingProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopFiveClients">
      <wsdl:input message="tns:GetTopFiveClientsSoapIn" />
      <wsdl:output message="tns:GetTopFiveClientsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDayRevenue">
      <soap:operation soapAction="http://tempuri.org/GetCurrentDayRevenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevenueByPeriod">
      <soap:operation soapAction="http://tempuri.org/GetRevenueByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBestSellingProduct">
      <soap:operation soapAction="http://tempuri.org/GetBestSellingProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopFiveClients">
      <soap:operation soapAction="http://tempuri.org/GetTopFiveClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDayRevenue">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentDayRevenue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevenueByPeriod">
      <soap12:operation soapAction="http://tempuri.org/GetRevenueByPeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBestSellingProduct">
      <soap12:operation soapAction="http://tempuri.org/GetBestSellingProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopFiveClients">
      <soap12:operation soapAction="http://tempuri.org/GetTopFiveClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:60144/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:60144/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>